In [1]:
import glob
import os
import pandas as pd
# venv/libpython3.8/site-packages/arelle/Cntlr.pyの250行目home/nagatを書き換える必要あり
# 私の場合は '/Users/masakazu/Desktop/financial-statements/venv/lib/python3.8/site-packages/arelle'
from arelle import Cntlr
from arelle import ModelManager

# References
# https://flat-kids.net/2020/02/29/edinet%E3%81%AExbrl%E3%81%8B%E3%82%89csv%E5%87%BA%E5%8A%9B/
# https://qiita.com/XBRLJapan/items/b1e66f79d597df7b6037#1-xbrlデータから特定の情報を抽出する

In [2]:
xbrl_file_paths = glob.glob("../statements/ZHD/PublicDoc/*.xbrl")
ctrl = Cntlr.Cntlr()
model_maneger = ModelManager.initialize(ctrl)
model_xbrl = model_maneger.load(xbrl_file_paths[0])

In [3]:
def get_value_with_name(name: str):
    for fact in model_xbrl.facts:
        if fact.concept.qname.localName == name:
            print(name, fact.value)

In [4]:
get_value_with_name("FilerNameInJapaneseDEI")
get_value_with_name("AverageAnnualSalaryInformationAboutReportingCompanyInformationAboutEmployees")

FilerNameInJapaneseDEI Ｚホールディングス株式会社
AverageAnnualSalaryInformationAboutReportingCompanyInformationAboutEmployees 11053036

In [5]:
 # XBRLをDataFrameにセット
fact_data_df = pd.DataFrame(data=[(
                            fact.concept.qname.localName, 
                            fact.value, 
                            fact.isNumeric, 
                            fact.contextID,
                            fact.decimals
                        ) for fact in model_xbrl.facts ],
                        columns=[
                            'element_id',
                            'value',
                            'isNumeric',
                            'contextID',
                            'decimals'
                        ])

In [6]:
fact_data_df[fact_data_df["element_id"] == "ProfitLoss"]

,element_id,value,isNumeric,contextID,decimals
1164,ProfitLoss,91816000000,True,Prior1YearDuration_NonConsolidatedMember,-6
1165,ProfitLoss,30362000000,True,CurrentYearDuration_NonConsolidatedMember,-6
1187,ProfitLoss,91816000000,True,Prior1YearDuration_NonConsolidatedMember_Retai...,-6
1188,ProfitLoss,91816000000,True,Prior1YearDuration_NonConsolidatedMember_Retai...,-6
1189,ProfitLoss,91816000000,True,Prior1YearDuration_NonConsolidatedMember_Share...,-6
1212,ProfitLoss,91816000000,True,Prior1YearDuration_NonConsolidatedMember,-6
1247,ProfitLoss,30362000000,True,CurrentYearDuration_NonConsolidatedMember_Reta...,-6
1248,ProfitLoss,30362000000,True,CurrentYearDuration_NonConsolidatedMember_Reta...,-6
1249,ProfitLoss,30362000000,True,CurrentYearDuration_NonConsolidatedMember_Shar...,-6
1278,ProfitLoss,30362000000,True,CurrentYearDuration_NonConsolidatedMember,-6